# SPDX-License-Identifier: BSD-3-Clause
# Copyright (c) Contributors to the OpenEXR Project.

build --symlink_prefix=/ # Out of source build

# Uncomment this to treat C++ compile warnings as errors
#build --cxxopt=-Wall
#build --cxxopt=-Werror
#build --cxxopt=-Wextra

# To be able to load test artifacts on Windows this must
# be enabled - use this config to run bazel test on Windows
build:vs2019 --enable_runfiles # https://github.com/bazelbuild/bazel/issues/8843
