Makefile.in
autom4te.cache
aclocal.m4
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
.deps
*.o
*.lo
*.deps
*.libs
*.Plo
*.Po
*.la
*.so
*.dylib
.DS_Store
*.project
*.cproject
Makefile
eLut
eLut.h
toFloat
toFloat.h
libtool.m4
ltsugar.m4
ltoptions.m4
ltversion.m4
lt~obsolete.m4
IlmBase/HalfTest/HalfTest
IlmBase/IexTest/IexTest
IlmBase/ImathTest/ImathTest
OpenExr/IlmImfTest/IlmImfTest
OpenEXR/exrmultipart/exrmultipart
