Makefile.in
autom4te.cache
aclocal.m4
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
*.o
*.lo
*.pc
*.la
*.vcxproj.user
*.1.tlog
*.manifest
*.lastbuildstate
*.log
*.obj
*.idb
*.pdb
*.sdf
*.suo
*.exp
*.ilk
*.map
*.ipch
*.res
