# SPDX-License-Identifier: BSD-3-Clause
# Copyright (c) Contributors to the OpenEXR Project.
#

name: Python wheels

on:
  push:
    branches-ignore:
      - RB-2.*
    tags-ignore:
      - v1.*
      - v2.*
    paths:
      - '**'
      - '!**.md'
      - '!website/**'
      - 'website/src/**'
      - '!bazel/**'
  pull_request:
    branches-ignore:
      - RB-2.*
    tags-ignore:
      - v1.*
      - v2.*
    paths:
      - '**'
      - '!**.md'
      - '!website/**'
      - 'website/src/**'
      - '!bazel/**'

permissions:
  contents: read

jobs:
  build_wheels:
    name: Build Python wheels
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-latest, macOS-latest]
    env:
      # On macOS we build both x86 and arm to support Intel and Apple Silicon.
      CIBW_ARCHS_MACOS: x86_64 arm64 
      # Skip 32-bit wheels builds on Windows.
      # Also skip the PyPy builds, since they fail the unittests
      CIBW_SKIP: "*-win32 *_i686 pp*"
      # The CI platform is Intel based so we are doing cross compilation
      # for arm64. It is not currently possible to test arm64 when cross
      # compiling. 
      CIBW_TEST_SKIP: "*_arm64"
      CIBW_BEFORE_BUILD: >
        echo "Installing OpenEXR..." &&
        cd openexr.build &&
        cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=../openexr.install -DCMAKE_VERBOSE_MAKEFILE:BOOL=ON -DCMAKE_PREFIX_PATH=../openexr.install -DCMAKE_INSTALL_LIBDIR=lib -DBUILD_TESTING=OFF -DOPENEXR_INSTALL_EXAMPLES=OFF -DOPENEXR_BUILD_TOOLS=OFF -DBUILD_SHARED_LIBS=OFF -DOPENEXR_FORCE_INTERNAL_DEFLATE=ON -DOPENEXR_FORCE_INTERNAL_IMATH=ON -DCMAKE_POSITION_INDEPENDENT_CODE=ON ../ &&
        cmake --build ./ --config Release --clean-first &&
        cmake --install ./ --config Release &&
        cd ..
      CIBW_TEST_REQUIRES: pytest
      CIBW_TEST_COMMAND: pytest {project}/src/wrappers/python/tests/

    steps:
      - uses: actions/checkout@v3

      # Used to host cibuildwheel
      - uses: actions/setup-python@v4
        with:
            python-version: '3.x'

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.16.2

      - name: Create setup.py
        run: |
            mv src/wrappers/python/pyproject.toml ./pyproject.toml
            mv src/wrappers/python/setup.py ./setup.py
            mv src/wrappers/python/set_version.py ./set_version.py
            mv src/wrappers/python/Imath.py ./Imath.py
            mv src/wrappers/python/OpenEXR.cpp ./OpenEXR.cpp
            python set_version.py
            rm set_version.py
        shell: bash

      - name: Create folders
        run: |
            mkdir -p ${{github.workspace}}/openexr.build
            mkdir -p ${{github.workspace}}/openexr.install

      - name: Build the source distribution
        run: python setup.py sdist
        if: runner.os == 'Linux'

      - name: Build wheels
        run: python -m cibuildwheel --output-dir dist

      - uses: actions/upload-artifact@v3
        id: build_wheels
        with:
          name: python-wheels-x86_64
          path: ./dist/*
